{% extends 'base.html.twig' %}
{% block title %}Erreur Affichage Document {% endblock %}
{% block body %}
<h1>Le document que vous cherchez n'existe pas dans la base de données de hal</h1>
{% endblock %}